## Álvaro Sánchez de la Cruz, Marc Gil Arnau
# Tarea 1
# Ánalisis Exploratorio y Redes Neuronales Artificiales

Índice (pendiente por hacer, a medida que vayamos haciendo cosas las vamos metiendo)

## Sección I. Análisis descriptivo y exploratorio de la base de datos. Preprocesamiento

## 1.- Cargar y leer la base datos

In [11]:
# Bibliotecas utilizadas en esta primera sección
import pandas as pd
import numpy as np
import seaborn as sns    

import matplotlib
from matplotlib import pyplot as plt

In [12]:
# Leermos y guardamos el fichero en un dataframe.
comercio_df = pd.read_csv("Dataset.csv")

comercio_df

,ID,Warehouse_block,Mode_of_Shipment,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Product_importance,Gender,Discount_offered,Weight_in_gms,Reached.on.Time_Y.N
0,1,D,Flight,4,2,177,3,low,F,44,1233,1
1,2,F,Flight,4,5,216,2,low,M,59,3088,1
2,3,A,Flight,2,2,183,4,low,M,48,3374,1
3,4,B,Flight,3,3,176,4,medium,M,10,1177,1
4,5,C,Flight,2,2,184,3,medium,F,46,2484,1
...,...,...,...,...,...,...,...,...,...,...,...,...
10994,10995,A,Ship,4,1,252,5,medium,F,1,1538,1
10995,10996,B,Ship,4,1,232,5,medium,F,6,1247,0
10996,10997,C,Ship,5,4,242,5,low,F,4,1155,0
10997,10998,F,Ship,5,2,223,6,medium,M,2,1210,0
10998,10999,D,Ship,2,5,155,5,low,F,6,1639,0

## 2.- Descripción del conjunto "E-Commerce Shipping"

Contexto: Una compañía internacional basada en vender productos electrónicos a través de internet quiere estudiar el comportamiento de sus clientes en base a ciertos datos de ventas.
El objetivo es ver si el envío ha llegado a tiempo o no. Se trata de una tarea de clasificación.
Variables:
* ID: Número identificador del cliente.
* Warehouse Block: La compañía tiene 5 grandes almacenes (A, B, C, D, E).
* Mode of shipment: La comapñía tiene 3 formas de entregar los productos (Ship, Flight, Road).
* Customer care calls: Número de llamadas que hace el cliente a la compañía para preguntar sobre el estado del envío.
* Customer rating: Calificación del cliente sobre la compañía. 1 es lo peor, 5 es lo mejor.
* Cost of the products: Precio del producto en dólares americanos.
* Prior purchases: Número de compras realizadas por el cliente previamente.
* Product importance: La compañía ha caracterizado la importancia de cada producto (low, medium, high).
* Gender: Género del cliente (Male, Female).
* Discount offered: Descuento ofrecido en el producto en porcentaje.
* Weight in gms: Peso del producto en gramos.
* Reached on time: Es la variable objetivo, 1 indica que el producto NO ha llegado a tiempo y 0 que sí lo ha hecho.

In [13]:
# Tipo de las variables (numérica, categórica, etc...)
comercio_df.dtypes

ID                      int64
Warehouse_block        object
Mode_of_Shipment       object
Customer_care_calls     int64
Customer_rating         int64
Cost_of_the_Product     int64
Prior_purchases         int64
Product_importance     object
Gender                 object
Discount_offered        int64
Weight_in_gms           int64
Reached.on.Time_Y.N     int64
dtype: object

In [14]:
# Nombres de las variables
comercio_df.columns

Index(['ID', 'Warehouse_block', 'Mode_of_Shipment', 'Customer_care_calls',
       'Customer_rating', 'Cost_of_the_Product', 'Prior_purchases',
       'Product_importance', 'Gender', 'Discount_offered', 'Weight_in_gms',
       'Reached.on.Time_Y.N'],
      dtype='object')

## 3.- Análisis descriptivo

In [22]:
# Vistazo rápido a los estadísticos de las variables
comercio_df.describe()

,ID,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Discount_offered,Weight_in_gms,Reached.on.Time_Y.N
count,10999.00000,10999.000000,10999.000000,10999.000000,10999.000000,10999.000000,10999.000000,10999.000000
mean,5500.00000,4.054459,2.990545,210.196836,3.567597,13.373216,3634.016729,0.596691
std,3175.28214,1.141490,1.413603,48.063272,1.522860,16.205527,1635.377251,0.490584
min,1.00000,2.000000,1.000000,96.000000,2.000000,1.000000,1001.000000,0.000000
25%,2750.50000,3.000000,2.000000,169.000000,3.000000,4.000000,1839.500000,0.000000
50%,5500.00000,4.000000,3.000000,214.000000,3.000000,7.000000,4149.000000,1.000000
75%,8249.50000,5.000000,4.000000,251.000000,4.000000,10.000000,5050.000000,1.000000
max,10999.00000,7.000000,5.000000,310.000000,10.000000,65.000000,7846.000000,1.000000

In [15]:
# Tamaño de la base de datos (número de observaciones, número de muestras)
comercio_df.shape

(10999, 12)

In [21]:
# Número de valores únicos por variable
comercio_df.nunique()

ID                     10999
Warehouse_block            5
Mode_of_Shipment           3
Customer_care_calls        6
Customer_rating            5
Cost_of_the_Product      215
Prior_purchases            8
Product_importance         3
Gender                     2
Discount_offered          65
Weight_in_gms           4034
Reached.on.Time_Y.N        2
dtype: int64

Viendo los resultados de .describe() y estos, podemos ver que no hay clientes que hayan llamado 0 ó 1 veces para informarse sobre su pedido así como también que los clientes estudiados tienen como mínimo 2 compras previas. Lo mismo a la compañía sólo le interesa el estudio de sus clientes "fieles".

In [16]:
# ¿Existen valores faltantes?
comercio_df.isnull().sum()

ID                     0
Warehouse_block        0
Mode_of_Shipment       0
Customer_care_calls    0
Customer_rating        0
Cost_of_the_Product    0
Prior_purchases        0
Product_importance     0
Gender                 0
Discount_offered       0
Weight_in_gms          0
Reached.on.Time_Y.N    0
dtype: int64

A priori no hay valores faltantes aunque puede que estemos ante el caso de que los valores faltantes hayan sido sustituidos por 0.

In [18]:
# ¿Está balanceada la variable objetivo?
comercio_df["Reached.on.Time_Y.N"].value_counts()

Reached.on.Time_Y.N
1    6563
0    4436
Name: count, dtype: int64

La categorías no están perfectamente equilibradas pero tampoco podemos considerar un grave desbalanceo.

## 4.- Correlación
(hay que estudiar las correlaciones segun el tipo de variable, relacion numerica-numerica categorica-categorica ordinal-ordinal y todas las combinaciones posibles entre estas)

In [ ]:
#comercio_df.corr(method='pearson', numeric_only=True)   
#comercio_df.corr(method='spearman', numeric_only=True)  
comercio_df.corr(method='kendall', numeric_only=True)

,ID,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Discount_offered,Weight_in_gms,Reached.on.Time_Y.N
ID,1.000000,0.134506,-0.004122,0.130001,0.146716,-0.346255,0.196418,-0.336267
Customer_care_calls,0.134506,1.000000,0.009632,0.224405,0.217438,-0.079353,-0.172928,-0.058363
Customer_rating,-0.004122,0.009632,1.000000,0.007486,0.008550,-0.001728,-0.003562,0.011724
Cost_of_the_Product,0.130001,0.224405,0.007486,1.000000,0.140056,-0.079716,-0.094513,-0.058845
Prior_purchases,0.146716,0.217438,0.008550,0.140056,1.000000,-0.071276,-0.172384,-0.067473
Discount_offered,-0.346255,-0.079353,-0.001728,-0.079716,-0.071276,1.000000,-0.216055,0.281408
Weight_in_gms,0.196418,-0.172928,-0.003562,-0.094513,-0.172384,-0.216055,1.000000,-0.217190
Reached.on.Time_Y.N,-0.336267,-0.058363,0.011724,-0.058845,-0.067473,0.281408,-0.217190,1.000000